body{
    /* background-image: url('bg.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 24px; 
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgb(153, 153, 153);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(64, 64, 64);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(255, 255, 255);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(11, 0, 0);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #a3a3a3;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #fbc5dd;
}

input[type="reset"]:hover{
    background: #dc5b95;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}

